@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vind@s</h1>
    <p><a href="https://www.linkedin.com/in/djaksoncleber">Conheça mais sobre mim </a> ou saiba mais sobre <a href="https://www.github.com/djakinho">meus códigos</a>.</p>
</div>
